.filter-button {
  --orange: #f97316;
  --bg-dark: #292524;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 1px;
  transform: translate(-4px, -4px);
  outline: 2px solid transparent;
  outline-offset: 5px;
  border-radius: 9999px;
  background-color: var(--bg-dark);
  color: var(--bg-dark);
  transition: transform 150ms ease, box-shadow 150ms ease;
  text-align: center;
  box-shadow:
    0.5px 0.5px 0 0 var(--bg-dark),
    1px 1px 0 0 var(--bg-dark),
    1.5px 1.5px 0 0 var(--bg-dark),
    2px 2px 0 0 var(--bg-dark),
    2.5px 2.5px 0 0 var(--bg-dark),
    3px 3px 0 0 var(--bg-dark),
    0 0 0 2px #fafaf9;
}

.filter-button:hover {
  transform: translate(0,0);
  box-shadow: 0 0 0 2px #fafaf9;
}

.filter-button:focus-visible {
  outline-color: var(--orange);
  outline-style: dashed;
}

.filter-button-inner {
  position: relative;
  pointer-events: none;
  background-color: var(--orange);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}

.filter-button-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  opacity: 0.5;
  background-image:
    radial-gradient(rgb(255 255 255 / 80%) 20%, transparent 20%),
    radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  mix-blend-mode: hard-light;
  animation: dots 0.5s infinite linear;
}

.filter-button-inner span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  gap: 0.25rem;
  filter: drop-shadow(0 -1px 0 rgba(255,255,255,0.25));
}

.filter-button-inner span:active {
  transform: translateY(2px);
}

@keyframes dots {
  0% {
    background-position: 0 0, 4px 4px;
  }
  100% {
    background-position: 8px 0, 12px 4px;
  }
}
